[DEFAULT]
logdir = /proj/BigExperiment/exp/results/active
homedir = /users/zbozakov
rudedir = /proj/BigExperiment/exp/wifi-simple/tools/rude_0.70/bin

user: zbozakov

#### cleanup dirs ####
[cleanup]
host: node3.Dumbbell.BigExperiment.emulab.net
command: rm %(logdir)s/*bz2; rm %(logdir)s/*log; echo 'logs deleted'

#### start receivers ####
## probe traffic receiver
[prcv]
host: node4.Dumbbell.BigExperiment.emulab.net
command: killall crude; %(rudedir)s/crude -P 1 -p 10001 -l %(logdir)s/p_crude.bin.log
after: {'cleanup':'logs deleted'}

## cross traffic receiver
[xrcv]
host: node5.Dumbbell.BigExperiment.emulab.net
command: killall crude; %(rudedir)s/crude -P 1 -p 10001 -l %(logdir)s/ar_crude.bin.log
after: {'cleanup':'logs deleted'}

#### start senders ####
## probe traffic sender
[psnd]
host: node1.Dumbbell.BigExperiment.emulab.net
command: killall rude; %(rudedir)s/rude -s %(homedir)s/active/probes.cfg > %(logdir)s/psnd.log; echo "done."
after: {'cleanup':'logs deleted', 'xrcv':'crude version', 'prcv':'crude version'}

## cross traffic sender
[xsnd]
host: node0.Dumbbell.BigExperiment.emulab.net
command: killall rude; %(rudedir)s/rude -s %(homedir)s/active/artrace.cfg > %(logdir)s/xsnd.log; echo "done."
after: {'cleanup':'logs deleted', 'xrcv':'crude version', 'prcv':'crude version'}

#### terminate receivers and compress logs ####
## probe traffic receiver
[prcv_end]
host: node4.Dumbbell.BigExperiment.emulab.net
command: killall crude; bzip2 %(logdir)s/p*.log
after: {'psnd':'done'}

## cross traffic receiver
[xrcv_end]
host: node5.Dumbbell.BigExperiment.emulab.net
command: killall crude; bzip2 %(logdir)s/ar*.log
after: {'xsnd':'done'}


