[DEFAULT]

user: boza
# we won't specify a password here because ssh-keys are configured
#password: 123abc

RCV_IP = 192.168.1.147

[receiver]
user: pi
host: %(RCV_IP)s
command: iperf -s

[sender]
host: mrorange.lan
command: iperf -c %(RCV_IP)s -t 20 -i2; echo "done."
after: {'receiver':'Server listening'}

# terminate iperf sender
[cleanup]
user: pi
host: %(RCV_IP)s
command: killall -INT iperf
after: {'sender':'done.'}

