[DEFAULT]
logdir = /proj/BigExperiment/exp/results/active
homedir = /users/zbozakov
rudedir = /proj/BigExperiment/exp/wifi-simple/tools/rude_0.70/bin

user: boza
password: 1234s

[h1]
host: localhost
command: sleep 2; cat /proc/cpuinfo; echo "done."

[h2]
host: localhost
command: echo 'huhu'; sleep 3; echo "done." && echo user: $USERNAME shell: $SHELL
after: {'h1':'done'}

[h3]
host: localhost
command: echo 'bye from 'h3''
after: {'h2':'huhu'}

[h4]
host: localhost
command: echo 'bye from "h4"'
after: {'h2':'huhu'}
