[DEFAULT]
logdir = /proj/BigExperiment/exp/results/active
homedir = /users/zbozakov
rudedir = /proj/BigExperiment/exp/wifi-simple/tools/rude_0.70/bin

user: bozakov
password: sdfsfg

[session1]
host: localhost
command: sleep 2; cat /proc/cpuinfo; echo "done."

[session_b]
host: localhost
command: echo 'huhu'; sleep 3; echo "done." && echo user: $USERNAME shell: $SHELL
after: {'session1':'done'}

[terminator]
host: localhost
command: echo 'bye from 'h3''
after: {'session_b':'huhu'}

[final]
host: localhost
command: echo 'bye from "h4"'
after: {'session_b':'huhu'}
