[DEFAULT]
# let's define some global variables

# the following two keywords are special and will be automatically added to all
# sessions if missing
user: zbozakov
password: barbj1h

# this is a variable which we can use later
foovar = barvar
LOGDIR = /tmp

; this is a also comment
[session1]
host: localhost
command: sleep 2; uname -a; echo "done."

[session_b]
host: localhost
command: echo "huhu %(foovar)s"; sleep 3; echo "done." && echo user: $USERNAME shell: $SHELL

[terminator]
host: localhost
command: ls %(LOGDIR)s; echo 'bye from "terminator"'
after: {'session_b':'huhu', 'session1':'done'}

[final]
host: localhost
command: sleep 2; echo 'bye from "final"'
after: {'session_b':'huhu'}

[onemore]
host: localhost
command: echo 'bye from "onemore"'
after: {'session1':'done', 'final':'bye'}



